/* Basic styling for layout */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
  }
  h1 {
    color: #333;
    margin-top: 20px;
  }
  .filter-container {
    margin: 20px;
  }
  /* Style the filter buttons */
  .filter-button {
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 10px;
  }
  .filter-button.active {
    background-color: #4CAF50;
    color: #fff;
  }

  /* Limit grid width and ensure 5 items per row */
  .movie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .movie-button {
    width: 168px;
    height: 200px;
    background-color: #ddd;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .movie-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #222;
    color: #fff;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    margin:0 0.5rem;
    font-weight: 500;
    
  }

  .nav{
    margin-left: auto;
  }
  
  .icons span {
    margin-left: 1rem;
    cursor: pointer;
  }
  
  .search-section {
    margin-left: auto; 
    font-size: 1.1rem;
    width: 300px;
  }
  
  .search-bar {
    padding: 10px 20px;

    width: 500px;
    border-radius: 10px;
    border: 1px solid #aaa;
    outline: none;
    
  }

  .footer {
    margin-top: 35px;
    width: 100%;
    padding: 1rem;
    background-color: #222;
    color: #fff;
    text-align: center;
  }
  
  .footer nav a {
    color: #aaa;
    text-decoration: none;
    margin: 0 0.5rem;
  }
  
  .footer nav a:hover {
    color: #fff;
  }

